**/bin/
**/obj/
.vs/
**/AppPackages/
*.user
*.pfx
*.p12
*.p8
*.pem
*.key
*.protected
*.sqlite*
*.db
*.log
*.pcap*
.env
.env.*
id_ed25519*
id_rsa*
*-secrets.json
qa/
artifacts/
.private/
*.msix*
*.appx*
!*.appxmanifest
