<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="linphone" value="https://gitlab.linphone.org/api/v4/projects/411/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org"><package pattern="*" /></packageSource>
    <packageSource key="linphone"><package pattern="LinphoneSDK.Windows" /></packageSource>
  </packageSourceMapping>
</configuration>
